body
{
	margin-top: 0;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#222;
	padding:0 10px;
	font-family: Helvetica;
}
.root-body
{
	margin-top: 46px;
}
.standard-body
{
	margin-top: 60px;
}
h1,h2,h3
{
	line-height: 1.2;
}
table
{
	width: 100%;
}
td
{
	vertical-align: top;
}
.main
{
	min-height: 400px;
}
.caption
{
	font-size: 0.8em;
	color: grey;
	margin-bottom: 20px;
}
#login
{
	text-align: right;
	float: right;
	margin-top: -8px;
}
.map-info {
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	border-radius: 5px;
}


.form-field {
	margin-bottom: 1em;
}

.msg {
	background-color: yellow;
}
.info-notify
{
	background-color: blanchedalmond;
}

.footer {
	font-size: 0.8em;
	color: grey;
	text-align: center;
}

#price-plot-canvas
{
	border:1px solid #d3d3d3;
}
#tooltip-canvas
{
	border:1px solid #d3d3d3;
	position:absolute;
	left:-400px;
	top:100px;
	pointer-events:none;
}
#selection-point-canvas
{
	border:none;
	position:absolute;
	left:-400px;
	top:100px;
	pointer-events:none;
}

.eth-address
{
	color: grey;
}
.substrata-logo-top-small
{
	padding-bottom:20px;
}
.logo-root-page
{
	padding-bottom:20px;
}
.buy-visa-image
{
	position: relative;
	top: 9px;
}
.buy-paypal-image
{
	position: relative;
	top: 6px;
	left: -1px;
}
.inline-block
{
	display: inline-block;
}
#mapid
{
	height: 650px;
}
.hidden
{
	display: none;
}

/*These colours should match those in map.js*/
.map-col-mradmin
{
	color: #3388ff; /* blue */
}
.map-col-other
{
	color: #0f9caa; /* blue */
}
.map-col-for-auction
{
	color: #b40d96; /* purpleish */
}
.map-col-highlighted
{
	color: #ef9518;
}

.commands {
	font-size: 0.8em;
	font-family: "Lucida Console", Courier, monospace;
	background-color: rgb(230, 230, 230);
	overflow: auto;
}
.code {
	font-family: "Lucida Console", Courier, monospace;
}

